* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 300%;
}

.color-picker {
    text-align: center;
}

.color-picker input {
    margin: 0 5px;
}